name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout frontend code
        uses: actions/checkout@v4
        with:
          path: frontend

      - name: Sync frontend folder to app path
        run: |
          rm -rf "/home/appttraining2/frontend"
          mv frontend "/home/appttraining2/frontend"

      - name: Build & restart frontend service
        run: |
          docker compose -f "/home/appttraining 2/docker-compose.yaml" up -d --build frontend
