name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout frontend code
        uses: actions/checkout@v4

      - name: Create target folder
        run: mkdir -p "/home/apptraining2/frontend"

      - name: Sync project files
        run: rsync -a --delete . "/home/apptraining2/frontend/"

      - name: Build & restart frontend service
        run: docker compose -f "/home/apptraining2/docker-compose.yaml" up -d --build frontend
